---
Checks: >
  -*,
  bugprone-*,
  cert-dcl21-cpp,
  cert-dcl58-cpp,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*[\\/](src[\\/]third_party|apps[\\/]viewer[\\/]third_party|build[\\/]_deps)[\\/]).*$'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
